<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TurtleGeek.Roster.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="Default" connectionString="" providerName=""/>
	</connectionStrings>
	<system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TurtleGeek.Roster.My.MySettings>
            <setting name="TurtleTagReportDateType" serializeAs="String">
                <value/>
            </setting>
            <setting name="TurtleTagReportIncludeRelinquishedTurtles" serializeAs="String">
                <value/>
            </setting>
            <setting name="TurtleTagReportDateFrom" serializeAs="String">
                <value/>
            </setting>
            <setting name="TurtleTagReportDateThru" serializeAs="String">
                <value/>
            </setting>
            <setting name="TurtleTagReportPit" serializeAs="String">
                <value/>
            </setting>
            <setting name="TurtleTagReportLff" serializeAs="String">
                <value/>
            </setting>
            <setting name="TurtleTagReportRff" serializeAs="String">
                <value/>
            </setting>
            <setting name="TurtleTagReportLrf" serializeAs="String">
                <value/>
            </setting>
            <setting name="TurtleTagReportRrf" serializeAs="String">
                <value/>
            </setting>
            <setting name="MainShowInactiveTurtles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoldingIncludeAnomalies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoldingIncludeAcquiredFrom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoldingIncludeTurtleName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoldingGroupTankBy" serializeAs="String">
                <value/>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaggingDataAdditionalRemarks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaggingDataPopulateFacilityField" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaggingDataMorphometrics" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="TurtleTagReportIncludeStrandingIdNumber" serializeAs="String">
                <value/>
            </setting>
            <setting name="TaggingDataPrintSidOnForm" serializeAs="String">
                <value>False</value>
            </setting>
        </TurtleGeek.Roster.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
